<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>Create New Post</h1>
    <form method="post" action="/posts">
        <div class="post">
            <h3 class="user">Enter Username : <input type="text" placeholder="Enter Username" name="username" /></h3>
            <h3 class="content">Enter Content : <textarea placeholder="Write your content" name="content"></textarea></h3>
            <button type="submit">Submit Post</button>
        </div>
    </form>
</body>
</html>
